<div style="background-color: darkslategray" class="jumbotron">
    <h1 style="text-align:center" class="display-4">Top 10 Most Popular Movies!</h1>
    <p style="text-align:center" class="lead">Here you will find the most popular movies of the week.</p>
</div>

<ol class="list">
    @foreach (var movie in Model)
    {
    <li>
        <div class="regular">
            <a href="MovieDetails?id=@movie.MoviePath">
                <img class="thumbnailPic" src="@movie.ImgUrl">
            </a>
            <h1>@movie.Title</h1>
            <h3>Relase Date: @movie.Year</h3>
            <partial name="_ButtonsPartial" model="@movie" />
        </div>
    </li>
    <li>
        <div class="regular">
            <a href="MovieDetails/@movie.MoviePath">
                <img class="thumbnailPic" src="@movie.ImgUrl">
            </a>
            <h1>@movie.Title</h1>
            <h3>Relase Date: @movie.Year</h3>
            <partial name="_ButtonsPartial" model="@movie.MoviePath" />
        </div>
    </li>
    <li>
        <div class="regular">
            <a href="MovieDetails/@movie.MoviePath">
                <img class="thumbnailPic" src="@movie.ImgUrl">
            </a>
            <h1>@movie.Title</h1>
            <h3>Relase Date: @movie.Year</h3>
            <partial name="_ButtonsPartial" model="@movie.MoviePath" />
        </div>
    </li>
    }
</ol>